/* Rojo: c4261d
Rosado: dd137b
Naranja: d8821d
Amarillo: ebc500
Verde: 93c034
Azul: 42a1c8 */


@font-face {
  font-family: Randomir;
  src: url(../fonts/randomir.otf);
}

body {
  font-family: Randomir;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

a, button, input {
  outline: none;
}

.logo {
  height: 180px;
  margin-left: 100px;
  margin-top: 100px;
}
.logo-color {
  display: none;
}

.borde {
  height: 30px;
  left: 0;
  position: absolute;
  width: 100%;
}
.borde.borde-abajo {
  bottom: 0;
}
.borde.borde-arriba {
  top: 0;
}

.inicio {
  background: url(../images/inicio.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.inicio .inicio-botones {
  bottom: 50px;
  position: absolute;
  right: 100px;
}
.inicio .inicio-botones a {
  border: 1px solid #ffffff;
  border-radius: 5rem;
  color: #ffffff;
  margin: 0 0.5rem;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
}
.inicio .inicio-botones a:hover {
  background-color: #42a1c8;
  border: 1px solid #42a1c8;
  cursor: pointer;
}

.iniciosesion,
.registro {
  height: 100vh;
}
.iniciosesion .iniciosesion-seccion,
.registro .registro-seccion {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
}
.iniciosesion .iniciosesion-imagen,
.registro .registro-imagen {
  height: 100vh;
}
.iniciosesion .iniciosesion-imagen img,
.registro .registro-imagen img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.iniciosesion .iniciosesion-formulario,
.registro .registro-formulario {
  background-color: #eeeeee;
  border-radius: 1rem;
  display: block;
  margin: 4rem auto;
  padding: 1.5rem;
  position: relative;
  width: 50%;
}
.iniciosesion .iniciosesion-formulario h1 {
  color: #42a1c8;
  text-align: center;
}
.iniciosesion .iniciosesion-formulario button,
.iniciosesion .iniciosesion-formulario input,
.iniciosesion .iniciosesion-formulario span,
.registro .registro-formulario button,
.registro .registro-formulario input,
.registro .registro-formulario span {
  display: block;
}
.iniciosesion .iniciosesion-formulario a {
  color: #c4261d;
  display: block;
  font-size: 0.8rem;
  margin: 2rem 0;
  text-align: center;
}
.iniciosesion .iniciosesion-formulario button,
.registro .registro-formulario button {
  background-color: #42a1c8;
  border: 1px solid #42a1c8;
  border-radius: 5rem;
  bottom: -20px;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  position: absolute;
  text-decoration: none;
}
.iniciosesion .iniciosesion-formulario button:hover,
registro registro-formulario button:hover {
  background-color: #ffffff;
  border: 1px solid #42a1c8;
  color: #42a1c8;
  cursor: pointer;
}
.iniciosesion .iniciosesion-formulario .iniciosesion-formulario__campo,
.registro .registro-formulario .registro-formulario__campo {
  margin-top: 1.5rem;
}
.iniciosesion .iniciosesion-formulario .iniciosesion-formulario__campo input,
.registro .registro-formulario .registro-formulario__campo input {
  border: 2px solid #42a1c8;
  border-radius: 0.8rem;
  color: #42a1c8;
  font-size: 1rem;
  margin: 0.3rem 0;
  padding: 0.7rem 1rem;
  width: 90%;
}
.iniciosesion .iniciosesion-formulario .iniciosesion-formulario__campo input::placeholder,
.registro .registro-formulario .registro-formulario__campo input::placeholder {
  color: #aaaaaa;
}
.iniciosesion .iniciosesion-formulario .iniciosesion-formulario__campo label,
.registro .registro-formulario .registro-formulario__campo label {
  color: #aaaaaa;
  font-size: 0.8rem;
}
.iniciosesion .iniciosesion-formulario .iniciosesion-formulario__campo span {
  color: #333333;
  font-size: 0.8rem;
}
.iniciosesion .iniciosesion-formulario .iniciosesion-formulario__checkbox label,
.iniciosesion .iniciosesion-formulario .iniciosesion-formulario__checkbox input {
  color: #333333;
  display: inline-block;
}
.iniciosesion .iniciosesion-formulario .iniciosesion-formulario__checkbox input {
  padding: 0;
  width: 15px;
}
.iniciosesion .iniciosesion-formulario .iniciosesion-formulario__boton,
.registro .registro-formulario .registro-formulario__boton {
  width: 41%;
  margin: 0 auto;
}
.iniciosesion .iniciosesion-registro {
  color: #42a1c8;
  text-align: center;
}
.iniciosesion .iniciosesion-registro a {
  color: #c4261d;
}
.registro .registro-formulario .registro-formulario__boton {
  height: 50px;
}

@media only screen and (max-width: 1024px) {
  .iniciosesion .iniciosesion-formulario,
  .registro .registro-formulario {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .iniciosesion .iniciosesion-seccion,
  .registro .registro-seccion {
    width: 100%;
  }
  .iniciosesion .iniciosesion-imagen,
  .registro .registro-imagen {
    display: none;
  }
  .iniciosesion .iniciosesion-formulario,
  .registro .registro-formulario {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
  .logo-color {
    display: block;
    width: 80%;
  }

  .inicio {
    align-items: center;
    background: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .inicio .inicio-botones {
    bottom: 0;
    left: 0;
    position: relative;
  }
  .inicio .inicio-botones a {
    background-color: #42a1c8;
    border: 1px solid #42a1c8;
    color: #ffffff;
  }
  .inicio .inicio-botones a:hover {
    background-color: #ffffff;
    border: 1px solid #42a1c8;
    color: #42a1c8;
  }

  .iniciosesion .iniciosesion-formulario .iniciosesion-formulario__boton,
  .registro .registro-formulario .registro-formulario__boton {
    width: 55%;
  }
}
